 <ul class="nav nav-tabs nav-pills">
    <li role="presentation" >
  	    <a href="<?php echo $this->url( array ( 'controller' => 'index', 'action' => 'index' ), 'default', true) ?>">Scan & Index</a>
    </li>
    <li role="presentation" class="active">
  	    <a href="<?php echo $this->url( array ( 'controller' => 'index', 'action' => 'display' ), 'default', true) ?>">Display (Cache)</a>
    </li>
</ul>
<div class="alert alert-success" role="alert">
  Refresh the page to see the cached version or <a class="alert-link" href="<?php echo $this->url( array ( 'controller' => 'index', 'action' => 'display' ), 'default', true) ?>"> Click Here</a>! Check the status at the bottom, Thank you!
</div>
<?php
if($this->locations)
{
	$this->listing( $this->locations );
}
else
{
	?>
	<div class="alert alert-danger" role="alert">
  		Please make sure that directory is not empty at /data/assignment. Thank you!
	</div>
<?php
}
?>
