<ul class="nav nav-tabs nav-pills">
    <li role="presentation" class="active" >
        <a href="#">Scan & Index</a>
	</li>
    <li role="presentation" >
    	<a href="<?php echo $this->url( array ( 'controller' => 'index', 'action' => 'display' ), 'default', true) ?>">Display (Cache)</a>
    </li>
</ul>
<div class="alert alert-success" role="alert">
  Directory is succesfully indexed, now <a class="alert-link" href="<?php echo $this->url( array ( 'controller' => 'index', 'action' => 'display' ), 'default', true) ?>"> Click Here</a> to first fetch & Cache! Thank you!
</div>
<?php
if($this->locations)
{
	$this->listing( $this->locations );
}
else
{
	?>
	<div class="alert alert-danger" role="alert">
  		Please make sure that directory is not empty at /data/assignment. Thank you!
	</div>
<?php
}
?>
