<!-- application/layouts/scripts/layout.phtml -->
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>IENS Assignment</title>
        <?php echo $this->headLink()->appendStylesheet('/css/vendor/bootstrap/bootstrap.css') ?>
    </head>
    <body>
        <div class="row">
          <a class="" href="http://localhost">
              <div class="col-md-2">
                  <img alt="Brand" src="/images/logo.jpg">
              </div>
              <div class="col-md-10 pull-left">
                  <h3>Assignment</h3>
              </div>
          </a>
        </div>
        <div class="row">
             <div class="col-md-12">
                <?php echo $this->layout()->content; ?>
            </div>
        </div>

    </body>
</html>